* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

:root {
    --font-big: 4rem;
    --font-big-phone: 3rem;
    --font-mid: 2.5rem;
    --font-mid-phone: 2rem;
    --font-small: 1.8rem;
    --font-small-phone: 1.5rem;

    --bckg-col: #b8cdd6;
    --txt-col-black: black;
}

html {
    background-color: var(--bckg-col);
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--txt-col-black);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #386aaf;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: var(--font-small);
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #afb9d0;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.logo {
    color: white;
    font-size: var(--font-mid);
    text-align: center;
}

.logo_second {
    font-size: var(--font-small-phone);
    text-transform: uppercase;

}

.app {
    position: relative;

}


.title_secondary {
    position: relative;
    font-size: var(--font-mid);
    margin-top: 30px;
}

.chart_title {
    text-align: center;
    color: #071833;
    position: relative;
    font-size: var(--font-mid);
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 30px;
}

.card_wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 30px;
    justify-items: center;

}

.card {
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: inline-block;
    padding: 30px;
    width: 250px;
    background-color: rgb(248, 250, 252);
    color: #051937;
    transition: transform 0.5s;
}

.good {
    color: white;
    background-color: #2e8b57;
}

.bad {
    color: white;
    background-color: #a61212;
}

.badder {
    color: #ffffff;
    background-color: #b81b1b;
}

.card:hover {
    transform: translateY(-5px);
}


h2 {
    margin-top: 4px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: var(--font-mid);
}

.data {
    margin-bottom: 4px;
    font-size: var(--font-small);
}

.data_secondary {
    font-weight: 500;
    font-size: var(--font-small);
}

.btn-wrap {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #386aaf;
    align-items: center;
    height: 200px;
    color: white;
    margin-top: 20px;

}

.foot p {
    margin: 0;
}

.hide {
    visibility: hidden;
    pointer-events: none;
}

.white-image {
    filter: brightness(0) invert(1);
}

.first_social {
    margin-right: 15px;
}

.reorder-me {
    font-size: var(--font-small);
    padding: 7px;
    background-color: transparent;
    border: 2px solid #082e65;
    color: #021b3d;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 20px;

}


.reorder-me:hover {
    background-color: #082e65;
    color: white;
    transition: all 0.3s;
}

.chart-container {
    position: relative;
    margin: 10px auto auto;
    width: 80vw;
    min-height: 200px;
}

.casesChart{

}

.deathChart{

}

@media only screen and (max-width: 620px) {


    .nav-links {
        flex-direction: column;
        text-align: center;
        gap: 3px;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: var(--font-big-phone);

    }

    .title_secondary {
        font-size: var(--font-mid-phone);

    }

    .foot {
        display: flex;
        flex-direction: column;
    }


    .cool-link:hover::after {
        width: 0;
    }

    .cool-link {
        text-decoration: underline;
    }

    .reorder-me {
        padding: 4px;
        font-size: var(--font-small-phone);
    }

    .chart_title{
        font-size: var(--font-mid-phone);
    }
}